<!--加载框架所需js-->
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery-1.8.3.min.js"></script>
<!--公共js写入页面-->
<script type="text/javascript" src="__PUBLIC__/admin/js/common.js"></script>
<!--layer弹出层-->
<script type="text/javascript" src="__PUBLIC__/admin/js/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.metisMenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/hplus.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/contabs.min.js"></script>
<!--图片上传-->
<script type="text/javascript" src="__PUBLIC__/admin/webuploader/webuploader.js"></script>
<!--时间插件js-->
<script type="text/javascript" src="__PUBLIC__/admin/js/laydate/laydate.js"></script>
<!--layui js引入-->
<script type="text/javascript" src="__PUBLIC__/admin/js/layui/layui.js"></script>
　　
