 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {include file="admin@/public/global_css" /}
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>即将上线列表</h5>
						<div class="ibox-tools" >
							<button class="btn btn-primary btn-open" dt-url="{:url('online_add')}">添加</button>
						</div>
                    </div>
					<div class="ibox-title">
						<form class="form-inline" action="{:url('online')}" method="post">
							<div class="form-group">
								<input type="text" name="keyword" value="{$param.keyword|default=''}" class="form-control w120" placeholder="描述">
								<input type="hidden">
								<button class="btn btn-primary">搜索</button>
								<button type="button" class="btn btn-primary btn-all" dt-field="id" dt-table="goods_online" dt-img-field="img_url" dt-img="true" dt-del="true">批量删除</button>
							</div>
						</form>
					</div>
                    <div class="ibox-content">
                        <div class="table-responsive" style="text-align:center">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
										<th><input type="checkbox" id="check_all"></th>
                                        <th>描述</th>
                                        <th>图片</th>
										<th>所属导航栏</th>
										<th>上线时间</th>
										<th>是否启用</th>
										<th>排序</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
									{volist name="list" id="vo"}
									<tr>
										<td><input type="checkbox" class="id" value="{$vo.id}"></td>
                                        <td>{$vo.desciption}</td>
                                        <td><img src="__UPLOADS__{$vo.img_url}" alt="" width="50px" height="50px"></td>
										<td>{$vo.nav_name}</td>
										<td>{:date("Y-m-d H:i:s",$vo.online_time)}</td>
										<td>
											<div class="layui-form">
												<input type="checkbox" name="status" dt-key="{$vo.id}" dt-field="status" dt-table="goods_online" lay-skin="switch" lay-filter="switchStatus" {if condition="$vo.status neq '0'"}checked{/if} lay-text="开启|关闭">
											</div>
										</td>
										<td style="width:100px;"><input value="{$vo.sort}" class="form-control ajax-input" style="text-align:center" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" dt-url="{:url('changeField',['table'=>'goods_online','field'=>'sort','key'=>$vo.id])}"></td>
                                        <td>
										{if condition = "in_array('ready_online_edit',$_SESSION['perm_arr'])"}
										<button class="btn btn-info btn-open" dt-url="{:url('online_edit',['id'=>$vo.id])}">编辑</button>
										{/if}
										{if condition = "in_array('ready_online_del',$_SESSION['perm_arr'])"}
										<button class="btn btn-danger btn-del" dt-field="id" dt-value="{$vo.id}" dt-table="goods_online" dt-img="true">删除</button>
										{/if}
                                        </td>
                                    </tr>
									{/volist}
                                </tbody>
                            </table>
                        </div>
						<div id="TP_page">{$pages}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{include file="admin@/public/global_js"/}
</html>
